.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 7.5px 0;
  gap: 0.3125rem 0.625rem;
  width: 100%;
  @include desktop {
    margin-top: 1.0938rem;
    gap: 0.625rem 1.25rem;
  }
  .tag {
    padding: 0 15px;
    height: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 5px;
    @include tablette {
      height: 37px;
      padding: 0 20px;
    }
  }
  .ingredients {
    background-color: $secondaryColor;
  }
  .appareils {
    background-color: $tertiaryColor;
  }
  .ustensils {
    background-color: $quaternaryColor;
  }
  .tagText {
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 1.25rem;
    @include tablette {
      font-size: 0.875rem;
    }
  }
  .tagClose {
    font-size: 0.625rem;
    border-radius: 50%;
    border: 0.125rem solid white;
    color: white;
    width: 1rem;
    height: 1rem;
    font-weight: bold;
    @include tablette {
      width: 1.25rem;
      height: 1.25rem;
      font-size: 0.75rem;
    }
  }
}
