/* ******************** RESPONSIVE ***************** */
$breakpoints: (
  tablette: 700px,
  desktop: 1000px,
  large: 1250px,
);

@mixin tablette {
  @media (min-width: map-get($breakpoints, tablette)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin large {
  @media (min-width: map-get($breakpoints, large)) {
    @content;
  }
}

/* ********************* line-clamp ***************** */
@mixin line-clamp($lines, $line-height) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  max-height: $lines * $line-height;
  text-overflow: ellipsis;
  overflow: hidden;
}
