* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 86%;
  max-width: 90rem;
  @include tablette {
    margin-top: 1.5625rem;
  }
}

button {
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  @include tablette {
    font-size: 1.125rem;
  }
}
