$headerHeight: 7.9375rem;
$margin: 0.3125rem;
$marginDesktop: 0.625rem;

$primaryColor: #e7e7e7;
$secondaryColor: #3282f7;
$tertiaryColor: #68d9a4;
$quaternaryColor: #ed6454;
$quinaryColor: #c7bebe;

/* *************** Dropdown *************** */
$dropDownButtonHeight: 51px;
$dropdownButtonHeightDesktop: 4.3125rem;
$iconContainerWidth: 3.1875rem;
