.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem;
  overflow: hidden;
  max-width: 23.75rem;
  cursor: pointer;
  &:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
    box-shadow: 0.5rem 0.5rem 1rem rgba(96, 96, 96, 0.1);
  }
  @include tablette {
    width: 23.75rem;
    max-height: 22.75rem;
    height: 22.75rem;
    min-height: 22.75rem;
  }
  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.125rem;
    min-height: 11.125rem;
    background-color: $quinaryColor;
    padding: 0.625rem;
  }
  .cardContent {
    padding: 1.25rem 0.625rem;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    @include tablette {
      flex: 1;

      padding: 1.25rem;
      row-gap: 1.25rem;
    }
    .cardContentNameAndTime {
      display: flex;
      flex-direction: column;
      row-gap: 0.625rem;
      @include tablette {
        flex-direction: row;
        justify-content: space-between;
        max-height: 1.375rem;
      }
      .cardContentName {
        font-size: 1.125rem;
        @include tablette {
          flex: 1;
        }
      }
      .cardContentTime {
        display: flex;
        align-items: center;
        column-gap: 0.4375rem;
        font-size: 1.125rem;
        font-weight: bold;
      }
    }
    .cardContentIngredientsAndRecipe {
      display: flex;
      flex-direction: column;
      row-gap: 0.625rem;
      font-size: 0.75rem;
      @include tablette {
        flex-direction: row;
        justify-content: space-between;
      }
      .cardContentIngredients {
        flex: 1;
        .cardContentIngredient {
          font-weight: bold;
        }
      }
      .cardContentRecipe {
        flex: 1;

        @include tablette {
          @include line-clamp(8, 1rem);
        }
      }
    }
  }
}
